<div class="col-md-2" style="position:fixed; z-index:1;margin-top:125px;">
  <div class="panel" style="display:flex;flex-direction:column;justify-content:center;align-items: center;text-align:center;">
    <div class="text-center">
      <span><strong>Menu</strong></span>
      <br>
      <span>Select a different year</span>
      <%= form_tag('/employees/index', method: :get) do %>
      <%= select_tag "year", options_for_select((2012..2016).to_a.reverse.map{|y| [y,y]}, :selected => params[:year]), class:"form-control" %>
      <br>
      <%= submit_tag 'Search', class:'search_button btn btn-primary' %>
      <% end %>
    </div>
    <div id="select_dept" class="panel-body" style="display:flex;flex-direction:column;justify-content:center;align-items: center;text-align:center;">
      <p>Select a department</p>
      <%= form_tag '/departments/:id', method: :get, id: 'dept' do %>
      <%= select_tag "department", options_from_collection_for_select(@departments, "id", "name"), class:"form-control" %>
      <br>
      <%= select_tag "year", options_for_select((2012..2016).to_a.reverse.map{|y| [y,y]}, :selected => params[:year]), class:"form-control" %>
      <br>
      <%= submit_tag 'Search', class: 'search_dept_button btn btn-primary' %>
      <% end %>
    </div>
    <div>
      <%= link_to 'Departments', departments_path %><br>
      <a href="#top_of_employees_page">Top of Page</a>
    </div>
  </div>
</div>
<div class="col-md-10" style="float:right;">
  <div class="text-center" style="margin-top:80px;">
    <h2 id="top_of_employees_page">Employee Salaries in Miami-Dade County</h2>
  </div>
  <div id="employees_chart_container" style="width: 100%; height: 450px; margin: 0 auto;"></div>
  <button id="column" class='btn btn-primary' style="display: block; margin: 0px auto;">Line Chart</button>

<div class="col-md-12 middle_bar" style="background-color: #0085BF; width: 100%; height: 50px;">
  <ul class="nav navbar-nav">
    <li><a href="#general" id="generalbutton" class="employee_page_bar">General Data</a></li>
    <li><a href="#topten" id="toptenbutton" class="employee_page_bar">Top Ten Salaries</a></li>
    <li><a href="#topmen" id="topmenbutton" class="employee_page_bar">Top Ten Men Salaries</a></li>
    <li><a href="#topwomen" id="topwomenbutton" class="employee_page_bar">Top Ten Women Salaries</a></li>
  </ul>
</div>
</div>
<div class="col-md-10" id="general" style="float:right;">
  <h3><%= "Data from #{@year}" %></h3>
  <h4> General Data for Miami-Dade County </h4>
  <table class="table table-striped table-bordered text-center table table-hover">
    <tr>
      <th class="text-center"> Gender </th>
      <th class="text-center"> Average Salary </th>
      <th class="text-center"> Total Workforce </th>
      <th class="text-center"> Workforce Percentage </th>
    </tr>
    <tr>
      <td>Female</td>
      <td><%= number_to_currency(@employees.females.average(:salary)) %></td>
      <td><%= number_with_delimiter(@employees.females.count) %></td>
      <td><%= number_to_percentage((@employees.females.count.to_f/@employees.count)*100, precision: 2) %></td>
    </tr>
    <tr>
      <td>Male</td>
      <td><%= number_to_currency(@employees.males.average(:salary)) %></td>
      <td><%= number_with_delimiter(@employees.males.count) %></td>
      <td><%= number_to_percentage((@employees.males.count.to_f/@employees.count)*100, precision: 2) %></td>
    </tr>
    <tr>
      <td>Department Totals</td>
      <td><%= number_to_currency((@employees.males.average(:salary) + @employees.females.average(:salary))/2) %></td>
      <td><%= number_with_delimiter(@employees.count) %></td>
      <td><%= number_to_percentage((@employees.females.count + @employees.males.count)*100 / @employees.count, precision: 2) %></td>
    </tr>
  </table>
  <div id="percentage_container" style="width: 100%; height: 450px; margin: 0 auto;"></div>
  <br>
  <div id="topten"></div>
  <br>
  <br>
  <h4> Top Ten Salaries in the County </h4>
  <table class="table table-striped table-bordered text-center table table-hover">
    <tr>
      <th class="text-center"> Name </th>
      <th class="text-center"> Gender </th>
      <th class="text-center"> Average Salary </th>
      <th class="text-center"> Department </th>
      <th class="text-center"> Job Title </th>
    </tr>
    <% @employees.top_ten_salaries.each do |rich| %>
    <td><%= rich.name.split.map(&:capitalize).join(" ") %></td>
    <td><%= rich.gender.capitalize %></td>
    <td><%= number_to_currency(rich.salary) %></td>
    <td><%= @departments.find(rich.department_id).name %></td>
    <td><%= @job_titles.find(rich.job_title_id).title  %></td>
  </tr>
  <% end %>
</table>
<br>
<div id="topmen"></div>
<br>
<br>
<h4> Top Ten Men Salaries in the County </h4>
<table class="table table-striped table-bordered text-center table table-hover">
  <tr>
    <th class="text-center"> Name </th>
    <th class="text-center"> Gender </th>
    <th class="text-center"> Salary </th>
    <th class="text-center"> Department </th>
    <th class="text-center"> Job Title </th>
  </tr>
  <% @employees.males.top_ten_salaries.each do |rich_men| %>
  <tr>
    <td><%= rich_men.name.split.map(&:capitalize).join(" ") %></td>
    <td><%= rich_men.gender.capitalize %></td>
    <td><%= number_to_currency(rich_men.salary) %></td>
    <td><%= @departments.find(rich_men.department_id).name %></td>
    <td><%= @job_titles.find(rich_men.job_title_id).title %></td>
  </tr>
  <% end %>
</table>
<br>
<h4 id="topwomen"> Top Ten Women Salaries in the County </h4>
<table class="table table-striped table-bordered text-center table table-hover">
  <tr>
    <th class="text-center"> Name </th>
    <th class="text-center"> Gender </th>
    <th class="text-center"> Salary </th>
    <th class="text-center"> Department </th>
    <th class="text-center"> Job Title </th>
  </tr>
  <% @employees.females.top_ten_salaries.each do |rich_women| %>
  <tr>
    <td><%= rich_women.name.split.map(&:capitalize).join(" ") %></td>
    <td><%= rich_women.gender.capitalize %></td>
    <td><%= number_to_currency(rich_women.salary) %></td>
    <td><%= @departments.find(rich_women.department_id).name %></td>
    <td><%= @job_titles.find(rich_women.job_title_id).title %></td>
  </tr>
  <% end %>
</table>
</div>
</div>

<script>
$(document).ready(function() {
  var chartType ;
  var chart = true;

  var graph = function (chartType) {
    var options = {
      chart: {
        renderTo: 'employees_chart_container',
        type: chartType || 'spline'
      },
      title: {
        text: "Average Salary Men/Women in Miami-Dade"
      },
      subtitle: {
        text: "Source: opendata.miamidade.gov"
      },
      colors: ['#0000FF', '#800080']
    };

    $.getJSON('/employees/index.json', function(data) {
      var men_data = [];
      var women_data = [];
      var years = [];
      for(key in data){
        men_data.push(parseFloat(data[key].men));
        women_data.push(parseFloat(data[key].women));
        years.push(data[key].year);
      }
      options.yAxis = {
        title: {
          text: "Average Salary ($)"
        }
      }
      options.xAxis = {
        categories: years,
        title: {
          text: "Year"
        }
      }
      options.series = [
        {
          name: 'Men',
          data: men_data
        },
        {
          name: 'Women',
          data: women_data
        }
      ]
      var chart = new Highcharts.Chart(options);
    });
  }

  $("#column").click(function(event) {
    event.preventDefault();
    if(chart == true){
      chartType = "column"
      $("#column").html('Column Chart');
      chart = false;
    }else{
      chartType = "spline"
      $("#column").html('Line Chart');
      chart = true;
    }
    graph(chartType);
  });
  graph();
});
</script>

<script>
$(document).ready(function() {
  var getColor = {
       'AB': '#0000FF',
       'BC': '#800080'
    }
  $('#percentage_container').highcharts({
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: 'Female v. Male Percentage for Miami-Dade County in <%= @year %>'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: '<b>{point.name}</b>: {point.percentage:.1f} %'
        }
      }
    },
    subtitle: {
      text: "Source: opendata.miamidade.gov"
    },
    series: [{
      name: 'Percentage',
      colorByPoint: true,
      data: [{
        name: 'Male',
        y: <%= @employees.males.count %>,
        color: getColor['AB']
      }, {
        name: 'Female',
        y: <%= @employees.females.count %>,
        color: getColor['BC'],
        sliced: true,
        selected: true
      }]
    }]
  });
});
</script>
