<h2>Employee Salaries in Miami-Dade County</h2>
<h3><%= "Data from #{@year}" %></h3>
<p>Select a different year</p>
<%= form_tag('/employees/index', method: :get) do %>
  <%= select_tag "year", options_for_select((2012..2016).to_a.reverse.map{|y| [y,y]}) %>
  <%= submit_tag 'Search', class: 'search_button' %>
<% end %>

<p>Select a department</p>
<%= form_tag '/departments/:id', method: :get, id: 'dept' do %>
  <%= select_tag "department", options_from_collection_for_select(@departments, "id", "name") %>
  <%= select_tag "year", options_for_select((2012..2016).to_a.reverse.map{|y| [y,y]}) %>
  <%= submit_tag 'Search', class: 'search_button' %>
<% end %>

<!-- General Data for the County -->
<h4> General Data for Miami Dade County </h4>
<div class="col-md-12">
    <table class="table table-striped table-bordered text-center">
      <tr>
        <th class="text-center"> Gender </th>
        <th class="text-center"> Average Salary </th>
        <th class="text-center"> Total Workforce </th>
        <th class="text-center"> Workforce Percentage </th>
      </tr>
      <tr>
        <td>Female</td>
        <td><%= number_to_currency(@employees.females.average(:salary)) %></td>
        <td><%= number_with_delimiter(@employees.females.count) %></td>
        <td><%= number_to_percentage((@employees.females.count.to_f/@employees.count)*100, precision: 2) %></td>
      </tr>
      <tr>
        <td>Male</td>
        <td><%= number_to_currency(@employees.males.average(:salary)) %></td>
        <td><%= number_with_delimiter(@employees.males.count) %></td>
        <td><%= number_to_percentage((@employees.males.count.to_f/@employees.count)*100, precision: 2) %></td>
      </tr>
      <tr>
        <td>Department Totals</td>
        <td><%= number_to_currency((@employees.males.average(:salary) + @employees.females.average(:salary))/2) %></td>
        <td><%= number_with_delimiter(@employees.count) %></td>
        <td><%= number_to_percentage((@employees.females.count + @employees.males.count)*100 / @employees.count, precision: 2) %></td>
      </tr>
    </table>

    <!-- Top Ten Salaries in the County -->
    <h4> Top Ten Salaries in the County </h4>
    <table class="table table-striped table-bordered text-center">
      <tr>
        <th class="text-center"> Name </th>
        <th class="text-center"> Gender </th>
        <th class="text-center"> Salary </th>
        <th class="text-center"> Department </th>
        <th class="text-center"> Job Title </th>
      </tr>
      <% @employees.top_ten_salaries.each do |rich| %>
      <tr>
        <td><%= rich.name.split.map(&:capitalize).join(" ") %></td>
        <td><%= rich.gender.capitalize %></td>
        <td><%= number_to_currency(rich.salary) %></td>
        <td><%= @departments.find(rich.department_id).name %></td>
        <td><%= @job_titles.find(rich.job_title_id).title  %></td>
      </tr>
      <% end %>
    </table>

    <h4> Top Ten Men Salaries in the County </h4>
    <table class="table table-striped table-bordered text-center">
      <tr>
        <th class="text-center"> Name </th>
        <th class="text-center"> Gender </th>
        <th class="text-center"> Salary </th>
        <th class="text-center"> Department </th>
        <th class="text-center"> Job Title </th>
      </tr>
      <% @employees.males.top_ten_salaries.each do |rich_men| %>
      <tr>
        <td><%= rich_men.name.split.map(&:capitalize).join(" ") %></td>
        <td><%= rich_men.gender.capitalize %></td>
        <td><%= number_to_currency(rich_men.salary) %></td>
        <td><%= @departments.find(rich_men.department_id).name %></td>
        <td><%= @job_titles.find(rich_men.job_title_id).title %></td>
      </tr>
      <% end %>
    </table>

    <h4> Top Ten Women Salaries in the County </h4>
    <table class="table table-striped table-bordered text-center">
      <tr>
        <th class="text-center"> Name </th>
        <th class="text-center"> Gender </th>
        <th class="text-center"> Salary </th>
        <th class="text-center"> Department </th>
        <th class="text-center"> Job Title </th>
      </tr>
      <% @employees.females.top_ten_salaries.each do |rich_women| %>
      <tr>
        <td><%= rich_women.name.split.map(&:capitalize).join(" ") %></td>
        <td><%= rich_women.gender.capitalize %></td>
        <td><%= number_to_currency(rich_women.salary) %></td>
        <td><%= @departments.find(rich_women.department_id).name %></td>
        <td><%= @job_titles.find(rich_women.job_title_id).title %></td>
      </tr>
      <% end %>
    </table>
</div>

<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
<script language="JavaScript">
$(document).ready(function() {
    var options = {
        chart: {
            renderTo: 'container',
            type: 'column'
        },
        title: {
            text: "Average Salary Men/Women in Miami-Dade"
        },
        subtitle: {
            text: "Source: opendata.miamidade.gov"
        },
        colors: ['#0000FF', '#800080']
    };

    $.getJSON('/employees/index.json', function(data) {
        var men_data = [];
        var women_data = [];
        var years = [];
        for(key in data){
          men_data.push(parseFloat(data[key].men));
          women_data.push(parseFloat(data[key].women));
          years.push(data[key].year);
        }
        options.yAxis = {
          title: {
              text: "Average Salary ($)"
          }
        }
        options.xAxis = {
          categories: years,
          title: {
              text: "Year"
          }
        }
        options.series = [
          {
            name: 'Men',
            data: men_data
          },
          {
            name: 'Women',
            data: women_data
          }
        ]
        var chart = new Highcharts.Chart(options);
    });
});
</script>

<%= link_to 'Departments', departments_path %><br>
