<div class="wallpaper_image">
  <div class="col-md-10">
    <h1>Signup!</h1>
      <%= form_for :user, url: '/users' do |f| %>
        <p class="name"><strong>Name: </strong><span class="name_field"><%= f.text_field :name, placeholder: "Your Name" %></span>
        <strong class="email">Email: </strong><span class="email_field"><%= f.text_field :email, placeholder: "Email" %></p></span>
        <p><strong>Password: </strong><%= f.password_field :password, placeholder: "Password" %>
        <strong>Password Confirmation: </strong><%= f.password_field :password_confirmation, placeholder: "Password" %>
      <%= f.submit "Submit" %></p>
      <% end %>
    <h3> Already a user? <button type="button" class="btn btn-default"><a href="/login">Login</a></button> </h3>
    <span>You are so not signed in.</span>
    <%= link_to "Sign in with Github", github_login_path %><br>
   <div id="status"></div>
  </div>
</div>
