<div class="col-md-2" style="position:fixed; z-index:1;margin-top:125px;">
  <div class="panel" style="display:flex;flex-direction:column;justify-content:center;align-items: center;text-align:center;">
    <div class="text-center">
      <span><strong>Menu</strong></span>
      <br>
      <span>Select a different year</span>
      <%= form_tag('/departments/', method: :get) do %>
      <%= select_tag "year", options_for_select((2012..2016).to_a.reverse.map{|y| [y,y]}, :selected => params[:year]), class:"form-control" %>
      <br>
      <%= submit_tag 'Search', class:'search_button btn btn-primary' %>
      <% end %>
    </div>
    <div style="padding-top:10px;">
      <%= link_to 'Home', root_path %><br>
      <%= link_to 'County Departments Data', department_path(id: 1) %>
    </div>
  </div>
</div>

<div class="col-md-10" id="general_container" style="width: 100%; height: 600px; margin-top: 70px;"></div>

<div class="col-md-10" style="float:right; padding-top:50px;text-align:center;">
<h4> General Data for Miami-Dade County </h4>
<table class="table table-striped table-bordered text-center table table-hover">
  <tr>
    <th class="text-center"> </th>
    <th class="text-center"> 2012 </th>
    <th class="text-center"> 2013 </th>
    <th class="text-center"> 2014 </th>
    <th class="text-center"> 2015 </th>
    <th class="text-center"> 2016 </th>
  </tr>
  <tr>
    <td>Total County Employees</td>
    <% year = 2012 %>
    <% while year <= 2016 %>
    <td><%= @departments.get_employees(year) %></td>
    <% year += 1 %>
    <% end %>
  </tr>
  <tr>
    <td>Number of Departments</td>
    <% year = 2012 %>
    <% while year <= 2016 %>
    <td><%= @departments.total(year) %></td>
    <% year += 1 %>
    <% end %>
  </tr>
  <tr>
    <td>Number of Job Titles</td>
    <% year = 2012 %>
    <% while year <= 2016 %>
    <td><%= @job_titles.where(data_year: year).count %></td>
    <% year += 1 %>
    <% end %>
  </tr>
</table>
</div>

<script>
$(document).ready(function() {
  $('#general_container').highcharts({
       chart: {
           plotBackgroundColor: null,
           plotBorderWidth: null,
           plotShadow: false,
           type: 'pie'
       },
       title: {
           text: 'Employee Salary\'s Budget Percentages for Each Department, <%= @year %>'
       },
       tooltip: {
           pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
       },
       plotOptions: {
           pie: {
               allowPointSelect: true,
               cursor: 'pointer',
               dataLabels: {
                   enabled: true,
                   format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                   style: {
                       color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                   }
               }
           }
       },
       subtitle: {
         text: "Source: opendata.miamidade.gov"
       },
       series: [{
           name: 'Percentage',
           colorByPoint: true,
           data: [
              <% index = 0 %>
              <% while index <= @total_budget.length - 1 %>
              <% dept = @total_budget[index][:name] %>//.split.join.sub(/[&']/, "") %>
              <% %>
              {
                name: "<%= dept %>",
                y: <%= @total_budget[index][:y].round(2) %>
                <% index += 1 %>
                <% if index == @total_budget.length %>
                  }
                <% else %>
                  },
                <% end %>
              <% end %>
           ]
       }]
   });
});
</script>
