<!DOCTYPE html>
<html>
  <head>
    <title>Miami-Dade County Salary Data Center</title>
    <%= favicon_link_tag 'socrata.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=0.25">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <br>
    <%= render 'layouts/footer' %>
  </body>
</html>
